#aboutMeOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    font-size: 1vw;
}

#aboutMeOverlay.visible {
    opacity: 1;
    pointer-events: auto;
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 95vh;
    gap: 0.5vw;
}

.aboutMeFooter {
    background-color: #000000CC;
    border-radius: 0.4vw;
    height: 5vh;
    border-left: 0.2vw solid #FFA500;
    border-right: 0.2vw solid #FFA500;
    text-align: center;
    padding: 0.25vh 1vw 0.25vh 1vw;
}

.aboutMeContentF {
    background-color: #141414CC;
    border-radius: 0.4vw;
    height: 5vh;
    border-left: 0.2vw solid #FFA500;
    border-right: 0.2vw solid #FFA500;
    text-align: center;
}

.aboutMeTitle .aboutMeFooter h2 {
    margin: 0;
}

.aboutMeMain {
    background-color: #000000CC;
    padding: 1vw;
    flex: 1;
    max-width: 32vw;
    border-left: 0.2vw solid #FFA500;
    border-radius: 0.4vw;
    position: relative;
}

.aboutMeMain p {
    margin: 0;
    padding: 0.5vw 0;
}

.aboutMeSecondary {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5vw;
    top: 9.5vh;
    bottom: 9.9vh;
    justify-content: space-between;
}

.aboutMeTools {
    background-color: #000000CC;
    height: 30vh;
    border-right: 0.2vw solid #FFA500;
    border-radius: 0.4vw;
}

.aboutMeContentT {
    position: relative;
    background-color: #141414CC;
    border-radius: 0.4vw;
    border-right: 0.2vw solid #FFA500;
    height: 26vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 0.5vw;
}

.aboutMeHistory {
    background-color: #000000CC;
    height: 45vh;
    width: 32vw;
    border-right: 0.2vw solid #FFA500;
    border-radius: 0.4vw;
}

.aboutMeContentH {
    position: relative;
    background-color: #141414CC;
    border-radius: 0.4vw;
    border-right: 0.2vw solid #FFA500;
    margin: 1vw;
    margin-right: 1vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5vh;
    height: 40vh;
}

.aboutMeContent {
    position: relative;
    background-color: #141414CC;
    border-radius: 0.4vw;
    border-left: 0.2vw solid #FFA500;
    padding: 0.2vw;
    padding-left: 0.4vw;
    max-height: 75.2vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent #010101;
}

.tooling {
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    width: 3.5vw;
    height: 7.7vh;
}

.break {
    color: white;
}

.titles {
    padding-top: 1vh;
    padding-bottom: 0;
    margin-bottom: 0.5vh;
}

.links {
    font-size: 1.5vw;
    color: white;
    background-color: transparent;
    text-decoration: none;
    padding: 0 1vw 0 1vw;
}

.collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    padding-left: 0;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-size: 1vw;
}

.content {
    display: none;
    overflow: hidden;
    width: 100%;
}
