#settings {
    position: fixed;
    padding: 1vh;
    margin: 1vh;
    font-size: 2vw;
    color: white;
}

.settings-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.8s ease;
    will-change: transform;
}

/* to fix width height offset */
.settings-button i {
    display: block;
}

.settings-button.rotated {
    transform: rotate(60deg);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: block;
    position: absolute;
    border-radius: 2vw;
    left: 0;
    margin-top: 1vh;
    transform: translateY(6vh);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    width: 10vw;
    font-size: 1.2vw;
    padding-left: 1vw;
}

.dropdown-content input {
    width: 9vw;
    height: 1vh;
}

#zoomSpeed {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 0.4vw;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2vw;
    outline: none;
    margin: 1vw 0;
}

#zoomSpeed::-moz-range-thumb {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: white;
    border: none;
    cursor: pointer;
}

#zoomSpeed::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1vw;
    height: 1vw;
    border-radius: 5vw;
    background: white;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.dropdown.show .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}
